
{{ define "blog-head"}}

博客|{{ .site.SiteName}}

{{ end }}

{{ define "blog-h1"}}

{{ .site.SiteName}}

{{ end }}

{{ define "blog-nav"}}
<a href="/"
class="font-semibold text-indigo-700 block my-4 hover:underline">
首页
</a>
<a href="/blog"
class="font-semibold text-indigo-700 block my-4 hover:underline">
博客
</a>	
<a href="/tag"
class="font-semibold text-indigo-700 block my-4 hover:underline">
标签
</a>

{{ end }}
  

{{ define "blog-body" }}
          
<main>
  
  <div class="bg-white p-8 shadow-xl z-10 relative mb-8 rounded">
    <a href="/"
            class="font-semibold text-indigo-700  my-4 hover:underline">
            首页 /
             </a>
             <a href="/blog/"
             class="font-semibold text-indigo-700 my-4 hover:underline">
             博客
              </a>

  </div>

  <div class="flex flex-row flex-wrap">
      
  {{if .posts }}
      {{range .posts}}
     
      <div class="md:w-1/2 md:pl-4 pb-8">
          <div class="bg-white p-8 shadow-xl z-10 relative rounded h-full flex flex-col">
            <a href="/blog/{{ .ID }}">
              <h2 class="text-xl mb-3 font-bold text-indigo-700 hover:underline">{{ .Title }}</h2>
            </a>
            <span class="mb-3 text-indigo-600 ">{{.Views}} 次阅读 ，发布于 : {{ .CreatedAt | timeformat}}</span>
            <div class="mb-4 flex-1">{{.Content |html }}
            </div>
            <div class="text-right">
              <a  href="/blog/{{ .ID }}" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
                阅读
            </a>
            </div>
          </div>
        </div>
      {{ end }}
    
      {{end}}
    </div>

      {{if .posts}}
      <div class="text-right">

       {{if  gt .PageNo 1}}
            <a  href="/blog/page/{{ .PagePrev }}" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
              上一页
          </a>

        {{ end }}

        <a  href="/blog/page/{{ .PageNext }}" class="mx-2 bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
          下一页
      </a>
      </div>
  
      {{ else}}
      <div class="bg-white p-8 shadow-xl z-10 relative rounded h-40 flex flex-col mb-4">

        文章未找到
     
        <div class="text-right">
        
          <a  href="/blog/page/1" class=" bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded">
            返回首页
        </a>
    
      </div>
    </div>
      {{end}}
    
 
  </main>
  
  
{{ end }}

